/****************
  SHARED STYLES
****************/

body {
  color: #444;
  margin: 0;
  padding: 0;
}

.label {
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

/**********
  SIDENAV
**********/

#sidenav {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  -webkit-box-shadow: 10px 0px 30px -14px rgba(204, 204, 204, 1);
  -moz-box-shadow: 10px 0px 30px -14px rgba(204, 204, 204, 1);
  box-shadow: 10px 0px 30px -14px rgba(204, 204, 204, 1);

  form {
    margin: 20px;

    #logo {
      color: #444;
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-decoration: none;
    }

    .buttons {
      width: 100%;
      height: 120px;
      margin: 10px 0 30px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-between;

      a {
        height: auto;
        width: 75px;
        color: #444;
        background-color: #fff;
        border: 2px solid #eaeaea;
        border-radius: 7px;
        padding: 8px 5px 8px 5px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        text-decoration: none;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: #eaeaea;
        }
      }
    }

    .button-large {
      color: #444;
      background-color: #eaeaea;
      border: none;
      border-radius: 7px;
      width: 280px;
      padding: 15px 0 15px 0;
      margin: 20px 0 20px 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 0.85rem;
      cursor: pointer;

      &:hover {
        color: #eaeaea;
        background-color: #444;
      }
    }
  }
}

/*******
  MAIN
*******/

#mainContent {
  margin: 0 0 0 320px;
  padding: none;

  .label {
    margin: 20px 0 0 20px;
  }

  .h-scrolling-container {
    margin: 20px 0 0 0;
    padding: 0 0 0 20px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .h-scrolling-container-inner {

      .song {
        width: 250px;
        height: auto;
        margin: 0 15px 30px 0;
        border-radius: 7px;
        display: inline-block;
        -webkit-box-shadow: 0px 10px 29px -10px rgba(204, 204, 204, 1);
        -moz-box-shadow: 0px 10px 29px -10px rgba(204, 204, 204, 1);
        box-shadow: 0px 10px 29px -10px rgba(204, 204, 204, 1);

        .flex-container {
          display: flex;
          flex-flow: column wrap;

          .album-art {
            width: 100%;
            height: auto;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }

          .song-title {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 0.9rem;
            margin: 20px 20px 0 20px;
          }

          .song-artist {
            font-family: "Montserrat", sans-serif;
            font-weight: 200;
            font-size: 0.75rem;
            margin: 0 20px 20px 20px;
          }

          .song-tags {
            width: auto;
            display: flex;
            flex-flow: row wrap;
            margin: 0 20px 20px 20px;
            align-items: baseline;
            justify-content: space-between;

            .tag {
              height: auto;
              width: 101px;
              color: #444;
              background-color: #eaeaea;
              border-radius: 100px;
              padding: 5px 0;
              margin: 5px 0;
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              font-size: 0.75rem;
              text-decoration: none;
              text-align: center;
              cursor: pointer;

              &:first-child {
                margin-top: 0;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
